## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Arraial Do Cabo,BR,78.66,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
1,3,Touros,BR,83.30,few clouds,-5.1989,-35.4608,INN NEW HORIZON
2,6,Ullal,IN,77.95,mist,12.8000,74.8500,AK INTERNATIONAL LODGE
3,7,Port Macquarie,AU,75.88,clear sky,-31.4333,152.9167,Rydges Port Macquarie
4,9,Hobart,AU,67.12,broken clouds,-42.8794,147.3294,Mantra on Collins Hobart
5,11,Kapaa,US,80.58,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,12,Sao Filipe,CV,70.99,overcast clouds,14.8961,-24.4956,Hotel Xaguate
7,14,Vaini,TO,80.15,light rain,-21.2000,-175.2000,Keleti Beach Resort
8,19,Ponta Do Sol,PT,65.03,clear sky,32.6667,-17.1000,Hotel do Campo
9,20,Buchanan,LR,78.76,scattered clouds,5.8808,-10.0467,Kamaneahn Hotel Inc

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Mildura']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Mildura']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Codrington']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Traralgon']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Flinders']

In [34]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start.to_numpy()[0][[5,6]])
end = tuple(vacation_end.to_numpy()[0][[5,6]])
stop1 = tuple(vacation_stop1.to_numpy()[0][[5,6]])
stop2 = tuple(vacation_stop2.to_numpy()[0][[5,6]])
stop3 = tuple(vacation_stop3.to_numpy()[0][[5,6]])

In [45]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(layout={'width': '700px', 'height': '350px'})
vacation_route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(vacation_route)
fig

Figure(layout=FigureLayout(height='350px', width='700px'))

In [46]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,387,Mildura,AU,77.07,clear sky,-34.2000,142.1500,Mercure Hotel Mildura
1,99,Codrington,AU,67.01,broken clouds,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
2,435,Traralgon,AU,67.41,overcast clouds,-38.1833,146.5333,Comfort Inn Traralgon
3,281,Flinders,AU,78.80,few clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre

In [48]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [52]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(-34.2, 145.0), zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))